// name: base.scss
// for: body > header, main, footer > aside, section
// modifier: body.left-panel-open body.right-panel-open

html, body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
html > head {
    display: none;
}

//do not remove body.noscript class from html file
body {
    --asides-left-width: var(--default-asides-keep-width);
    --asides-right-width: var(--default-asides-keep-width);

    background: tomato;

    &.login-connected {
        background: greenyellow;
    }
    &.noscript > *:not(noscript) { // hide body > *(except noscript) if body contains noscript class
        display: none;
    }
    &:not(.noscript) > noscript { // hide body > noscript if body doesn't contains noscript class
        display: none;
    }
    
    > * {
        &:not(main) { // header and footer
            background: rgba(0, 0, 0, 0.1);
        }
        position: absolute;
        left: 0;
        right: 0;
        > aside {
            position: absolute;
            background: rgba(0, 0, 0, 0.1);
            &.left {
                left: 0;
                width: var(--asides-left-width);
            }
            &.right {
                right: 0;
                width: var(--asides-right-width);
            }
        }
        > main {
            position: absolute;
            left: var(--asides-left-width);
            right: var(--asides-right-width);
        }
    }
    > header { 
        top: 0;
        height: var(--header-height);
        > * {
            height: var(--header-height);
        }
    }
    > footer {
        bottom: 0;
        height: var(--footer-height);
        > * {
            height: var(--footer-height);
        }
    }
    > main {
        top: var(--header-height);
        bottom: var(--footer-height);
        > * {
            top: 0;
            bottom: 0;
        }
        > main { // modifier
            left: 0;
            right: 0;
        }
        > aside {
            &.left {
                left: calc(var(--asides-keep-width) * -1);
            }
            &.right {
                right: calc(var(--asides-keep-width) * -1);
            }
        }
    }


    /* DYNAMIC SPECIFICS */
    &.left-panel-open {
        --asides-left-width: var(--default-asides-left-width);
        > * {
            > aside.left {
                left: 0;
            }
            > main {
                left: var(--asides-left-width);
            }
        }
    }
    &.right-panel-open {
        --asides-right-width: var(--default-asides-right-width);
        > * {
            > aside.right {
                right: 0;
            }
            > main {
                right: var(--asides-right-width);
            }
        }
    }
    &.left-panel-mini-open > main {
        > aside.left {
            left: 0;
        }
        > main {
            left: var(--asides-left-width);
        }
    }
    &.right-panel-mini-open > main {
        > aside.right {
            right: 0;
        }
        > main {
            right: var(--asides-right-width);
        }
    }
}