// name: base.scss
// for: body > header, main, footer > aside, section
// modifier: body.left-panel-open body.right-panel-open

html, body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

//do not remove body.noscript class from html file
body {
    --header-height: 40px;
    --footer-height: 24px;
    --asides-width: 200px;

    background: tomato;
    &.login-connected {
        background: greenyellow;
    }
    &.noscript > *:not(noscript) { // hide body > *(except noscript) if body contains noscript class
        display: none;
    }
    &:not(.noscript) > noscript { // hide body > noscript if body doesn't contains noscript class
        display: none;
    }
    
    > * {
        position: absolute;
        top: 0;
        bottom: 0;
        > header {
            top: 0;
            height: var(--header-height);
        }
        > main {
            top: var(--header-height);
            bottom: var(--footer-height);
        }
        > footer {
            bottom: 0;
            height: var(--footer-height);
        }
        > * { position: absolute; }
    }
    > aside {
        display: none;                 // modifier
        width: var(--asides-width);
        &.left { left: 0; }
        &.right { right: 0; }
        > * { width: var(--asides-width); }
    }
    > main {
        left: 0;
        right: 0;
        > * { left: 0; right: 0; }
    }

    // modifier
    &.left-panel-open {
        > aside.left { display: block; }
        > main { left: var(--asides-width); }
    }
    &.right-panel-open {
        > aside.right { display: block; }
        > main { right: var(--asides-width); }
    }

}