// name: base.scss
// for: body > header, main, footer > aside, section
// modifier: body.left-panel-open body.right-panel-open
//           body.left-panel-mini-open body.right-panel-mini-open

html, body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
html > head {
    display: none;
}

//do not remove body.noscript class from html file
body {
    --asides-left-width: var(--default-asides-keep-width);
    --asides-right-width: var(--default-asides-keep-width);

    overflow: hidden;
    background: tomato;
    &.login-connected {
        background: greenyellow;
    }

    &.noscript > *:not(noscript) {
        display: none;
    }
    &:not(.noscript) > noscript {
        display: none;
    }
    
    > * {
        position: absolute;
        left: 0;
        right: 0;
        > aside {
            position: absolute;
            background: rgba(0, 0, 0, 0.1);
            &.left {
                left: 0;
                width: var(--asides-left-width);
            }
            &.right {
                right: 0;
                width: var(--asides-right-width);
            }
        }
        > main {
            position: absolute;
            left: var(--asides-left-width);
            right: var(--asides-right-width);
        }

        &:not(main) { // header and footer
            background: rgba(0, 0, 0, 0.2);
            > * {
                &.left {
                    > * {
                        &:first-child {
                            position: absolute;
                            left: 0;
                            width: var(--asides-keep-width);
                        }
                        &:not(:first-child) {
                            display: none;
                        }
                    }
                    > nav {
                        left: var(--asides-keep-width);
                        right: 0;
                    }
                }
                &.right {
                    > * {
                        &:first-child {
                            position: absolute;
                            right: 0;
                            width: var(--asides-keep-width);
                        }
                        &:not(:first-child) {
                            display: none;
                        }
                    }
                    > nav {
                        left: 0;
                        right: var(--asides-keep-width);
                    }
                }
                
            }
        } // END body > *:not(main)
    } // END body > *
    > main {
        top: var(--header-height);
        bottom: var(--footer-height);
        > * {
            top: 0;
            bottom: 0;
            > * {
                &:not(main) {
                    background: rgba(0, 0, 0, 0.1);
                }
                position: absolute;
            }
            &.left > * {
                &:not(main) {
                    > nav {
                        left: var(--asides-keep-width);
                        right: 0;
                    }
                }
                width: var(--asides-left-width);
            }
            &.right > * {
                &:not(main) {
                    > nav {
                        left: 0;
                        right: var(--asides-keep-width);
                    }
                }
                width: var(--asides-right-width);
            }
            > header {
                top: 0;
                height: var(--sub-header-height);
                > * {
                    height: var(--sub-header-height);
                }
            }
            > footer {
                bottom: 0;
                height: var(--sub-footer-height);
                > * {
                    height: var(--sub-footer-height);
                }
            }
            > main { // last main
                top: var(--sub-header-height);
                bottom: var(--sub-footer-height);
                overflow-x: hidden;
                overflow-y: scroll;
                // > * {
                //     display: block;
                // }
            }
        } // END body > main > *
        > main {
            left: 0;
            right: 0;
            > * {
                left: 0;
                right: 0;
            }
        }
        > aside {
            &.left > *:not(main) > * {
                &:first-child {
                    position: absolute;
                    left: 0;
                    width: var(--asides-keep-width);
                }
                &:not(:first-child) {
                    display: none;
                }
            }
            &.right > *:not(main) > * {
                &:first-child {
                    position: absolute;
                    right: 0;
                    width: var(--asides-keep-width);
                }
                &:not(:first-child) {
                    display: none;
                }
            }
            &.left {
                left: calc(var(--asides-keep-width) * -1);
            }
            &.right {
                right: calc(var(--asides-keep-width) * -1);
            }
        }
    }

    > header { 
        top: 0;
        height: var(--header-height);
        > * {
            height: var(--header-height);
            > * {
                height: var(--header-height);
            }
        }
    }
    > footer {
        bottom: 0;
        height: var(--footer-height);
        > * {
            height: var(--footer-height);
            > * {
                height: var(--footer-height);
            }
        }
    }

    // NAV
    > *:not(main) > * > nav,
    > main > * > *:not(main) > nav {
        position: absolute;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap; // https://developer.mozilla.org/en-US/docs/Web/CSS/white-space
        > * {
            position: relative;
            height: 100%;
        }
    }
    > *:not(main) > main > nav,
    > main > main > *:not(main) > nav { // center nav only
        left: 0;
        right: 0;
        > section {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            flex: 1;
            &:first-child {
                &::after { // https://stackoverflow.com/a/62288570
                    content: '';
                    width: 100%;
                }
                text-align: left;
            }
            &:not(:first-child):not(:last-child) {
                &::before,
                &::after {
                    content: '';
                    width: 100%;
                }
                text-align: center;
            }
            &:last-child {
                &::before {
                    content: '';
                    width: 100%;
                }
                text-align: right;
            }
            > * {
                position: relative;
                height: 100%;
            }
        }
    }


    /* DYNAMIC SPECIFICS */
    &.left-panel-open {
        --asides-left-width: var(--default-asides-left-width);
        > * {
            &:not(main) > aside {
                &.left > *:not(:first-child) {
                    display: flex;
                }
            }
            > aside.left {
                left: 0;
            }
            > main {
                left: var(--asides-left-width);
            }
        }
        > main {
            > aside.left > *:not(main) > *:not(:first-child) {
                display: flex;
            }
        }
    }
    &.right-panel-open {
        --asides-right-width: var(--default-asides-right-width);
        > * {
            &:not(main) > aside {
                &.right > *:not(:first-child) {
                    display: flex;
                }
            }
            > aside.right {
                right: 0;
            }
            > main {
                right: var(--asides-right-width);
            }
        }
        > main {
            > aside.right > *:not(main) > *:not(:first-child) {
                display: flex;
            }
        }
    }
    &.left-panel-mini-open > main {
        > aside.left {
            left: 0;
        }
        > main {
            left: var(--asides-left-width);
        }
    }
    &.right-panel-mini-open > main {
        > aside.right {
            right: 0;
        }
        > main {
            right: var(--asides-right-width);
        }
    }
}