// name: vars.scss
// for: global css variables

:root {
    --default-header-height: 40px;
    --default-footer-height: 24px;
    --default-sub-header-height: 24px;
    --default-sub-footer-height: 40px;
    --default-asides-left-width: 200px;
    --default-asides-right-width: 200px;
    --default-asides-keep-width: 40px;
    --default-rgb-light: 255, 255, 255;
    --default-rgb-dark: 0, 0, 0;

    --color-rgb: var(--default-rgb-light);
    --background-rgb: var(--default-rgb-dark);
    --header-height: var(--default-header-height);
    --footer-height: var(--default-footer-height);
    --sub-header-height: var(--default-sub-header-height);
    --sub-footer-height: var(--default-sub-footer-height);
    --asides-left-width: var(--default-asides-left-width);
    --asides-right-width: var(--default-asides-right-width);
    --asides-keep-width: var(--default-asides-keep-width);

    

    // add a dark variant for better contrast using html.theme-light
    --default-rgb-purple: 72, 21, 170;
    --default-rgb-blue: 55, 131, 255;
    --default-rgb-green: 77, 233, 76;
    --default-rgb-yellow: 255, 238, 0;
    --default-rgb-orange: 255, 140, 0;
    --default-rgb-red: 246, 0, 0;

    --default-rgb-purple-pastel: 144, 99, 233;
    --default-rgb-blue-pastel: 111, 190, 251;
    --default-rgb-green-pastel: 97, 239, 148;
    --default-rgb-yellow-pastel: 255, 246, 97;
    --default-rgb-orange-pastel: 255, 169, 89;
    --default-rgb-red-pastel: 253, 80, 81;
}