<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="./styles.css" rel="stylesheet">
        <title>TITLE</title>
    </head>
    <body class="left-panel-open right-panel-open">
        <header>
            <aside class="left-header"></aside>
            <aside class="right-header"></aside>
            <section class="main-header"></section>
        </header>
        <aside class="left-panel"></aside>
        <aside class="right-panel"></aside>
        <section class="main-body"></section>
        <footer></footer>
        <script src="./socketio.js"></script>
        <script src="./openpgp.js"></script>
        <script src="./body.js"></script>
    </body>
</html>